* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.login {
  padding: 10px;
  overflow: hidden;
}

.login__wrapper {
  width: 400px;
  height: 350px;
  padding: 40px;
  box-sizing: border-box;
}

.login__wrapper > h2 {
  font-family: inherit;
  font-size: 24px;
}

.login__input {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: inherit;
  text-align: center;
  width: 100%;
  border-radius: 10rem;
  margin-right: 20px;
  margin-top: 20px;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

/* placeholder: input 요소 입력값 */
.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 70px;
  border-radius: 10rem;
  border: 1px solid #fff;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover {
  background-color: #fff;
}
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

.login > label {
  font-family: inherit;
  margin: 0px;
  padding: 10px;
  display: inline-block;
  accent-color: #444;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
}
